
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<link rel="stylesheet" href="{% static 'css/one.css' %}">
</head>
</head>
<body>
    <table class="table" border="5px">
        <thead>
          <tr>
            <th>topic_name</th>
            <th>name</th>
            <th>url</th>
          </tr>
        </thead>
          {% for webpage in web %}
            <tr>
              <td>{{ webpage.topic_name }}</td>
              <td>{{ webpage.name }}</td>
              <td>{{ webpage.url }}</td>
            </tr>
          {% endfor %}
      </table>
      
 </table>
</body>
</html>